.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000;
  font-size: 20px;
  gap: 10px;
  min-width: 300px;
  .btn {
    display: flex;
    align-items: center;
    border: 2px solid #7f7b7b;
    font-weight: 400;
    max-height: 40px;

    border-radius: 4px;
    background-color: #efe7e7;
    padding: 10px;
  }
}

.contactsBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  .text {
    display: flex;
    gap: 5px;
    align-items: end;
    .icon {
      margin-bottom: 4px;
    }
  }
}
